html {
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 480px;
  height: 860px;
  background-color: #202020;
  color: #FFFFFF;
  letter-spacing: 0.2em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;

  transition: all 0.1s ease-in-out;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

input {
  border: 1px solid #FFFFFF;
  display: block;
  width: 300px;
  margin: 0 auto;
  outline: none;
  height: 40px;
  background-color: #202020;
  color: #FFFFFF;
  padding: 12px;
  font-size: 32px;
  text-align: center;
}

.search-input::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  opacity: 0.3;
  padding-bottom: 48px;
}

.search-input {
  font-family: 'Open Sans', sans-serif;
}

.pill-btn {
  border-top-right-radius: 50px 50px;
  border-top-left-radius: 50px 50px;
  border-bottom-right-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
}

.search-btn {
  display: block;
  background-color: #202020;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  font-size: 16px;
  outline: none;

  transition: all 0.1s ease-in-out;
}

.search-btn:hover {
  background-color: #FFFFFF;
  color: #202020;
}

.juice-box {
  border-top: 1px solid #FFFFFF;
  width: 480px;
  min-height: 100%;
  /*overflow: scroll;*/
}

.recipe-img {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px 10px;
  z-index: 3;

  transition: all 0.1s ease-in-out;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  z-index: 2;

  transition: all 0.1s ease-in-out;
}

.add-bookmark-btn {
  display: block;
  position: absolute;
  /*border: 1px solid white;*/
  width: 20px;
  height: 25px;
  margin: 0 auto;
  left: 68px;
  top: 88px;
  opacity: 0;
  z-index: 2;

  transition: all 0.1s ease-in-out;
}

.add-bookmark-btn .fa-bookmark {
  color: #FFFFFF;
}

.redirect-btn {
  display: block;
  position: absolute;
  /*border: 1px solid white;*/
  width: 20px;
  height: 25px;
  margin: 0 auto;
  left: 108px;
  top: 88px;
  opacity: 0;
  z-index: 2;

  transition: all 0.1s ease-in-out;
}

.recipe-img:hover {
  /*border-radius: 100px 100px !important;*/
}

.recipe-img:hover .overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.recipe-img:hover img {
  transform:scale(1.5);
  -webkit-transform:scale(1.5);
}

.recipe-img:hover .add-bookmark-btn {
  opacity: 0.5;
}

.recipe-img:hover .redirect-btn {
  opacity: 0.5;
}

.add-bookmark-btn:hover {
  opacity: 1 !important;
}

.redirect-btn:hover {
  opacity: 1 !important;
}

.bookmarks {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  opacity: 0.75;

  transition: all 0.1s ease-in-out;
}

.bookmarks:hover {
  opacity: 1;
}

.fa-bookmark {
  color: #CC6600;
}